<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    
    <!-- Load Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../static/styles.css">
    
    <script src="../static/scripts.js"></script>

    <!-- Load Google Font for Poppins (Medium) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-50 text-gray-800">
    <main id="mainContent">
        <h1 id="title">Today's Fortune</h1>
        <div id="fortuneText" class="hidden"></div>
        <button onclick="fortuneGeneration()">Test my fortune</button>
        <!-- Add the complementary image -->
        <div class="image-container">
            <img src="../static/images/tarot girlie.png" alt="Fortune Image">
        </div>
    </main>
</body>

</html>